.customer-table {
	table-layout: fixed;
	width: 100%;
	max-width: 1280px;
	border-collapse: collapse;
	text-align: center;
}
.customer-table th,
.customer-table td {
	border: 3px solid blue;
   padding: 4px;
	height: 1px;
}
.customer-table-header th {
	background-color: rgb(59, 128, 255);
	color: white;
	height: 30px;
}
.customer-table .td-borderless {
	background-color: transparent;
	border-right: transparent;
	border-bottom: transparent;
	border-top: transparent;
}
.customer-table .name,
.customer-table .type,
.customer-table .phone,
.customer-table .email,
.customer-table .primary-contact,
.customer-table .table-button-column {
	width: 150px;
}
.customer-table input,
.customer-table select {
	width: 100%;
	height: 50%;
	border-right: 3px solid blue;
	border-bottom: 3px solid blue;
	border-top: none;
	border-left: none;
	outline: none;
	padding: 8px;
	margin: 0px;
   color: blue;
	background-color: white;
	font-weight: bold;
}
.customer-table input:focus,
.customer-table select:focus {
	border-right: 3px solid orange;
	border-bottom: 3px solid orange;
	color: orange;
}
.customers .modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	margin-top: 20px;
}
.customers .modal h2 {
	margin: 0;
	font-size: 1.8rem;
}
.customers .modal form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.customers .modal label {
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
.customers .modal input,
.customers .modal select {
	width: 400px;
	height: 40px;
	outline: none;
	border-right: 3px solid blue;
	border-bottom: 3px solid blue;
	border-top: none;
	border-left: none;
	padding: 8px;
	color: blue;
	background-color: white;
}
.customers .modal input:focus,
.customers .modal select:focus {
	border-right: 3px solid orange;
	border-bottom: 3px solid orange;
	color: orange;
}
.customers .modal .button-container {
	display: flex;
	gap: 10px;
}