.product-table-range {
	background-color: rgb(59, 128, 255);
	color: white;
	height: 60px;
}
.product-table-range th {
	font-size: 2.2rem;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.product-table-category {
	background-color: blue;
	color: white;
	height: 40px;
}
.product-table {
	table-layout: fixed;
	width: 100%;
	max-width: 1280px;
	border-collapse: collapse;
	text-align: center;
}
.product-table th,
.product-table td {
	border: 3px solid blue;
	padding: 4px;
	height: 1px;
}
.product-table-header th {
	background-color: rgb(59, 128, 255);
	color: white;
	height: 30px;
}
.product-table .td-borderless {
	background-color: transparent;
	border-right: transparent;
	border-bottom: transparent;
	border-top: transparent;
}
.product-table .part-code,
.product-table .image,
.product-table .price,
.product-table .table-button-column {
	width: 150px;
}
.product-table input {
	width: 100%;
	height: 50%;
	border-right: 3px solid blue;
	border-bottom: 3px solid blue;
	border-top: none;
	border-left: none;
	outline: none;
	padding: 8px;
	margin: 0px;
	color: blue;
	background-color: white;
	font-weight: bold;
}
.product-table input:focus {
	border-right: 3px solid orange;
	border-bottom: 3px solid orange;
	color: orange;
	
}
